body{ background-color: rgb(34, 33, 33);
    text-align: center;
}

h2{color: white;}

h1{color: white;
    display: inline-block;
    width: 100px;
}


h5{
    color: white;
    font-style: italic;
}

button{color: rgb(253, 253, 253);
    font-family: fantasy;
        border-radius: 20px;
        background: #6881f5;
        width: 100px;
        height: 30px;
      }